@{
    ViewBag.Title = "Instructions";
}

<div>
    <div class="modal-body" style="text-align: -webkit-center; padding-top: 0px; ">
        <iframe style="width: 100%; height: 500px;" src="~/Content/PDF/AgatyaNiSuchna.pdf#navpanes=0&scrollbar=0&statusbar=0"></iframe>
    </div>
</div>